.meus-dados
{
	label
	{
		color: #0C8542 !important;	
							  
		font-size: 14;
	}

	.form-control
	{
		border-color: #A1D7B7;
		color:#19AC53;
		font-family: 'PetrobrasSansRegular';
	}

	h3
	{
		color: #0C8542;
		font-family: PetrobrasSansXtraBold;
		font-weight: 900;
	}
}