// ====================================================================
// Colors
// ====================================================================

// -------------------------------------
// Cores base
// -------------------------------------

$base-color: #1b2026;

$txt-verde: #0C8542;

$txt-cinza: #575757;

$txt-cinza-c: #9B9B9B;

// -------------------------------------
// Cores relativas ao projeto
// -------------------------------------

